<nav class="d-none d-sm-block container pt-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% breadcrumb_trail.each_with_index do |item, index| %>
      <% if index.zero? %>
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="bx bx-home-alt fs-md me-2" role="none"></i>Home
          <% end %>
        </li>
      <% elsif item[:current] %>
        <li class="breadcrumb-item active" aria-current="page"><%= item[:name] %></li>
      <% elsif item[:path] %>
        <li class="breadcrumb-item"><%= link_to item[:name], item[:path] %></li>
      <% else %>
        <li class="breadcrumb-item"><%= item[:name] %></li>
      <% end %>
    <% end %>
  </ol>
</nav>

<% breadcrumb_items = breadcrumb_trail.map do |item|
  url = if item[:current]
    request.original_url.split("?").first
  elsif item[:path].present?
    request.base_url + item[:path]
  end
  { name: item[:name], url: url }
end.compact.reject { |item| item[:url].blank? } %>

<%= json_ld_script(breadcrumb_list_schema(breadcrumb_items)) if breadcrumb_items.length >= 2 %>
