<footer class="footer bg-dark dark-mode">
  <div class="container text-center py-4 py-sm-5 px-3">
    <div class="justify-content-center mb-3 mb-sm-4 <%= 'd-none' if current_page?(root_path) %>">
      <%= image_tag "logo.png", alt: "Gelbhart Inn. Logo", width: 80, class: "footer-logo" %>
    </div>

    <div class="d-none d-sm-block">
      <div class="pb-2 pb-sm-3">
        <ul class="nav justify-content-center flex-wrap">
          <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link py-1 py-sm-2" %></li>
          <li class="nav-item"><%= link_to "Services", services_path, class: "nav-link py-1 py-sm-2" %></li>
          <li class="nav-item"><%= link_to "Team", team_path, class: "nav-link py-1 py-sm-2" %></li>
          <li class="nav-item"><%= link_to "Contact", contacts_path, class: "nav-link py-1 py-sm-2" %></li>
        </ul>
      </div>
    </div>

    <div class="fs-xs text-center mt-3 mt-sm-4">
      <div class="mb-2">
        <span class="text-light opacity-50">&copy; All rights reserved. Made by </span>
        <%= link_to "Gelbhart Innovations", "https://gelbhart.com/", class: "nav-link d-inline p-0", rel: "noopener", "aria-label": "Gelbhart Inn. Website" %>
      </div>
      <div class="pt-1 pt-sm-2">
        <span class="text-light opacity-50 d-none d-sm-inline">Please see our </span>
        <%= link_to "Terms & Conditions", tos_path, class: "nav-link d-inline p-0" %>
        <span class="text-light opacity-50"> and </span>
        <%= link_to "Privacy Policy", tos_path, class: "nav-link d-inline p-0" %>
      </div>
    </div>
  </div>
</footer>
