<% current_name = t("languages.#{I18n.locale}") %>
<% aria_label = "#{t('common.language')}: #{current_name}" %>
<div class="dropdown language-switcher">
  <button type="button"
          id="languageDropdown"
          class="btn btn-link nav-link dropdown-toggle d-flex align-items-center px-2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-label="<%= aria_label %>"
          title="<%= current_name %>">
    <span class="fi fi-<%= locale_to_flag(I18n.locale) %> me-1"></span>
    <span class="d-none d-sm-inline"><%= current_name %></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end language-switcher-menu" aria-labelledby="languageDropdown">
    <%= render "shared/language_switcher_links" %>
  </ul>
</div>
