<style>
   .card .position-relative {
    cursor: pointer;
  }
</style>

<div class="jarallax d-none d-md-block" data-jarallax data-speed="0.35">
  <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary-translucent"></span>
  <div class="jarallax-img" style="background-image: url(<%= asset_path("team_cover.jpg") %>);"></div>
  <div class="d-none d-sm-block" style="height: 200px;"></div>
</div>

<%= render 'shared/breadcrumb' %>

<!-- Brands (Carousel) -->
<section class="container pb-3 pb-lg-5 mb-3 px-5">
  <h2 class="text-center pb-md-2">Our Team</h2>
  <div class="swiper mx-n2" data-swiper-options='{
      "centerInsufficientSlides": true,
      "slidesPerView": 2,
      "spaceBetween": 40,
      "pagination": {
        "el": ".swiper-pagination",
        "clickable": true
      },
      "breakpoints": {
        "500": {
          "slidesPerView": 3,
          "spaceBetween": 40
        },
        "650": {
          "slidesPerView": 4,
          "spaceBetween": 40
        },
        "900": {
          "slidesPerView": 5,
          "spaceBetween": 40
        },
        "1100": {
          "slidesPerView": 5,
          "spaceBetween": 40
        }
      }
    }'>
    <div class="swiper-wrapper">

      <!-- Team Members -->
      <% i = 0 %>
      <% for j in @members do %>
        <div class="swiper-slide py-3 card border-0 bg-transparent">
          <div class="position-relative card-hover" data-bs-toggle="modal" data-bs-target="#<%= @members[i][0].split(' ').first %>">
            <img src="<%= asset_path(@members[i][0].split(' ').first.downcase + ".png") %>" class="rounded-3" alt="<%= @members[i][0] %>">
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Click me for more info!">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50 rounded-3"></span>
              <div class="position-relative d-flex zindex-2">
                <a href="<%= @members[i][1] %>" target="_blank" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                  <i class="bx bxl-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body text-center p-3">
            <h3 class="fs-lg fw-semibold pt-1 mb-2"><%= @members[i][0] %></h3>
          </div>
        </div>
        <% i += 1 %>
      <% end %>

    </div>
    <!-- Pagination (bullets) -->
    <div class="swiper-pagination position-relative pt-2 mt-4"></div>
  </div>

  <!-- Team Modals -->
  <% i = 0 %>
  <% for j in @members do %>
    <div class="modal fade" id="<%= @members[i][0].split(' ').first %>" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header row">
            <div class="col-6 text-start">
              <h5 class="modal-title"><%= @members[i][0] %></h5>
            </div>
            <div class="col-6 text-end">
              <img src="<%= asset_path(@members[i][0].split(' ').first.downcase + ".png") %>" class="rounded-3" width="100" alt="<%= @members[i][0] %>">
            </div>
          </div>
          <div class="modal-body"><p><%= @members[i][2] %></p></div>
        </div>
      </div>
    </div>
    <% i += 1 %>
  <% end %>

</section>