<!-- Jarallax -->
<%= render 'shared/jarallax' %>
<!-- Contact Section -->
<section class="container py-2 pb-md-4 pb-lg-5 px-3 px-sm-4">
  <%= render 'shared/breadcrumb' %>
  <div class="row">
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
      <div class="d-flex flex-column h-100 shadow-sm rounded-3 overflow-hidden contact-map-wrapper">
        <iframe
          class="d-block w-100 h-100 contact-map"
          src="<%= AppConstants::CONTACT_INFO[:google_maps_embed_url] %>"
          title="Gelbhart Innovations Location"
          style="border: 0;"
          allowfullscreen=""
          loading="lazy"
          aria-label="Interactive map showing Gelbhart Innovations location"></iframe>
      </div>
    </div>
    <div class="col-12 col-lg-5 offset-lg-1">
      <h1 class="h4 h5-sm mb-3 mb-sm-4">Gelbhart Innovations</h1>
      <% contact = AppConstants::CONTACT_INFO %>
      <address class="list-unstyled pb-2 pb-lg-0 mb-4 mb-lg-5">
        <ul class="list-unstyled mb-0">
          <li class="d-flex pb-2 pb-sm-1 mb-2 align-items-start">
            <i class="bx bx-map text-primary fs-xl fs-lg-xl me-2 me-sm-3 flex-shrink-0 contact-icon-offset" aria-hidden="true"></i>
            <span class="fs-sm fs-md-base">
              <%= contact[:address][:street] %><br>
              <%= contact[:address][:postal_code] %> <%= contact[:address][:city] %><br>
              <%= contact[:address][:country] %>
            </span>
          </li>
          <li class="d-flex pb-2 pb-sm-1 mb-2 align-items-start">
            <i class="bx bx-phone-call text-primary fs-xl fs-lg-xl me-2 me-sm-3 flex-shrink-0 contact-icon-offset" aria-hidden="true"></i>
            <a href="tel:<%= contact[:phone][:tel] %>" class="text-decoration-none fs-sm fs-md-base">
              <%= contact[:phone][:display] %>
            </a>
          </li>
          <li class="d-flex pb-2 pb-sm-1 mb-2 align-items-start">
            <i class="bx bx-envelope text-primary fs-xl fs-lg-xl me-2 me-sm-3 flex-shrink-0 contact-icon-offset" aria-hidden="true"></i>
            <a href="mailto:<%= contact[:email] %>" class="text-decoration-none fs-sm fs-md-base">
              <%= contact[:email] %>
            </a>
          </li>
          <li class="d-flex align-items-start">
            <i class="bx bx-time-five text-primary fs-xl fs-lg-xl me-2 me-sm-3 flex-shrink-0 contact-icon-offset" aria-hidden="true"></i>
            <div class="fs-sm fs-md-base">
              <strong class="text-nav"><%= contact[:business_hours][:weekdays][:days] %></strong>: <%= contact[:business_hours][:weekdays][:open] %> - <%= contact[:business_hours][:weekdays][:close] %>
              <br>
              <strong class="text-nav">Sat - Sun</strong>: <%= contact[:business_hours][:weekend] %>
            </div>
          </li>
        </ul>
      </address>
    </div>
  </div>
</section>
