<%= render 'shared/jarallax' %>

<div class="bg-secondary">
  <%= render 'shared/breadcrumb' %>

  <section class="container py-2 pb-md-4 pb-lg-5 px-3 px-sm-4">
    <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-between gap-3 mb-3 mb-sm-4">
      <h1 class="mb-0 fs-3 fs-sm-2 fs-md-1"><%= t('pages.services.real_estate.page_title') %></h1>
      <%= link_to services_path, class: "btn btn-outline-primary btn-sm btn-md-md flex-shrink-0", data: { turbo_preload: true } do %>
        <i class="bx bx-arrow-back me-1 me-sm-2"></i><span class="d-none d-sm-inline"><%= t('pages.services.real_estate.back_button') %></span>
      <% end %>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
      <% @real_estate_services.each do |service| %>
        <div class="col py-3 py-sm-4 my-1 my-sm-2 my-md-3">
          <%= render "shared/service_card",
                     title: service.title,
                     description: service.description,
                     icon: service.icon,
                     gradient: AppConstants::SERVICE_GRADIENTS[:real_estate] %>
        </div>
      <% end %>
    </div>
  </section>
</div>
